﻿<!DOCTYPE html>
<html ng-csp="">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - TWS.EPA</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
    <link rel="stylesheet" href="~/lib/angularjs/angular-csp.css" />
    <link rel="stylesheet" href="~/lib/Font-Awesome/css/font-awesome.css" />
	<link rel="stylesheet" href="~/lib/angular-ui-grid/ui-grid.css" />
	<link rel="stylesheet" href="~/lib/angular-chart.js/dist/angular-chart.css" />
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li><a href="/">Trip Comparison</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; 2015 - TWS.EPA</p>
        </footer>
    </div>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBP3mekzx9h6z_y9fccGPB5SMc3o-baegM&v=3.20&libraries=visualization&sensor=false&libraries=geometry"></script>
    <script src="~/lib/angularjs/angular.js"></script>
    <script src="~/lib/angular-route/angular-route.js"></script>
    <script src="~/lib/angular-sanitize/angular-sanitize.js"></script>
	<script src="~/lib/Chart.js/Chart.js"></script>
	<script src="~/lib/angular-chart.js/dist/angular-chart.js"></script>
	<script src="~/lib/angular-ui-grid/ui-grid.js"></script>
    <script src="~/js/services/bpApiFactory.js"></script>
    <script src="~/js/services/epaApiFactory.js"></script>
    <script src="~/js/services/googleDirectionsFactory.js"></script>
    <script src="~/js/services/worldMapService.js"></script>
	<script src="~/js/directives/distanceCalculator.js"></script>
	<script src="~/js/directives/vehicleInformation.js"></script>
    <script src="~/js/directives/shipping.js"></script>
    <script src="~/js/directives/worldmap.js"></script>
    <script src="~/js/app/home/homeController.js"></script>
	<script src="~/js/app/map/mapController.js"></script>
	<script src="~/js/app/trip/tripController.js"></script>
    <script src="~/js/app/app.js"></script>
    <script src="~/js/site.js"></script>
    @RenderSection("scripts", required: false)
</body>
</html>
