﻿<input type="text" class="form-control" placeholder="Make (Toyota)" name="make" ng-model="make" ng-change="change(this)" required />
<input type="text" class="form-control" placeholder="Model (Camry)" name="model" ng-model="model" ng-change="change(this)" required />
<input type="text" class="form-control" placeholder="Year (YYYY)" name="year" ng-model="year" pattern="^\d{4}$" ng-change="change(this)" required />
<label for="hybridity"><input type="checkbox" class="form-control" id="hybridity" name="hybridity" ng-model="hybridity" ng-change="change(this)" />Hybrid</label>
