﻿<div class="col-xs-12" ng-controller="mapCtrl">
    <worldmap></worldmap>
    <form method="post" name="carbonShippingForm" class="navbar-form">
        <div class="row">
            <div class="col-lg-12">
                <distance-calculator my-data="extendShippingData"></distance-calculator>
                <shipping my-data="extendShippingData"></shipping>
                <button type="submit" class="btn btn-primary" name="calculate" ng-click="clickMe()">Calculate</button>
            </div>
        </div>
    </form>
    <div class="row text-center" ng-show="processing && active"><h3>Processing data.</h3></div>
    <div class="row" ng-show="!processing && active">
        <div class="col-xs-6" ng-repeat="(action, value) in data.equivalents">{{action}} : {{value}}</div>
        <div class="row" ng-repeat="route in directions.routes">
            <div class="col-xs-12" ng-repeat="leg in route.legs">
                {{leg.start_address}} to {{leg.end_address}} Distance: {{leg.distance.text}}
                <button ng-model="showRoutes" ng-click="showRoutes = !showRoutes">Route visibility</button>
                <div ng-show="showRoutes" class="col-xs-12" ng-repeat="step in leg.steps"><span ng-bind-html="sanitize(step.instructions)"></span></div>
            </div>
        </div>
    </div>
    <div class="col-xs-12" ng-repeat="item in epaData.data">{{item}}</div>
</div>

