﻿<select class="form-control" name="carrier" ng-model="carrier" ng-change="change(this)">
    <option>FedEx</option>
    <option>UPS</option>
    <option>USPS</option>
</select>
<select class="form-control" name="mode" ng-model="mode" ng-change="change(this)">
    <option>Ground</option>
    <option>Air</option>
    <option>Courier</option>
</select>
<input type="text"
       class="form-control" 
       pattern="^\d+$"
       placeholder="1"
       name="package_count" 
       ng-model="package_count" 
       ng-change="change(this)" />

<input type="text"
       class="form-control" 
       placeholder="Weight" 
       name="weight" 
       ng-required="weight" 
       pattern="^[\d]+(\.[\d]{0,2})?$" 
       ng-model="weight"
       ng-change="change(this)" />