﻿<div class="col-xs-12" ng-controller="tripCtrl">
	<form method="post" name="tripCarbonCost" class="navbar-form">
		<worldmap></worldmap>
		<div class="row">
			<div class="col-lg-10">
				<distance-calculator my-data="extendTripQuery"></distance-calculator>
			</div>
			<div class="col-lg-2">
				<a ng-model="advanced" href="#" onclick="return false;" ng-click="advanced=!advanced">Show {{advanced ? "Less" : "More"}}</a><br />
			</div>
			<div class="col-lg-12" ng-show="advanced">
				<vehicle-info my-data="extendTripQuery"></vehicle-info>
			</div>
			<div class="col-lg-12">
				<button type="submit" class="btn btn-primary" name="calculate" ng-click="calculate()">Calculate</button>
			</div>
		</div>
		<div class="row" ng-show="loaded">
			<div class="col-lg-12 text-center">
				{{directions.routes[0].legs[0].distance.text}} | {{Math.round(directions.routes[0].legs[0].distance.value / 100) / 10 }} km<br />
				{{directions.routes[0].legs[0].duration.text}} by car.
			</div>
			<div class="col-lg-4 col-lg-offset-4">
				<canvas id="doughnutChart"
						class="chart chart-doughnut"
						chart-data="chartData"
						chart-series="chartSeries"
						chart-legend="true"
						chart-labels="chartLabels"></canvas>
			</div>
			<div class="col-lg-12">
				<div class="col-xs-4" ng-repeat="item in breakdown">
					<div class="col-xs-12 btn btn-default" ng-click="setTab(item)" ng-class="{'btn-primary': tab==item.label}">
						<div class="col-xs-6 text-right"><i class="fa fa-lg" ng-class="item.icon"></i></div>
						<div class="col-xs-6 text-left">{{Math.round(item.value * 100000)/100000}}</div>
					</div>
				</div>
			</div>
			<div class="col-xs-4 col-xs-offset-4" style="padding: 10px;">
				<select class="form-control text-capitalize" name="comparison" ng-model="compared" ng-change="onSelected()" ng-options="item.value as item.key for item in comparisons"></select>
			</div>
			<div ng-show="tab" class="col-xs-12">
				<div class="panel panel-default">
					<div class="panel-heading"><strong>Emission details:</strong></div>
					<div class="panel-body">
						<div class="row" ng-repeat="section in [decisions.car, decisions.plane, decisions.train]">
							<div class="col-lg-6" ng-repeat="item in section | filter:{ label: tab }">
								<span class="text-capitalize" title="{{item.value.methodology}}"> {{normalize(item.key)}}: {{item.value.description}}</span>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-lg-12">
					<small>{{drivingData.scope}}</small>
				</div>
			</div>
		</div>
	</form>
</div>