﻿<div class="col-xs-12" ng-controller="tripCtrl">
	<worldmap></worldmap>
	<form method="post" name="tripCarbonCost" class="navbar-form">
		<div class="row">
			<div class="col-lg-12">
				<distance-calculator my-data="extendTripQuery"></distance-calculator>
				<vehicle-info my-data="extendTripQuery"></vehicle-info>
				<button type="submit" class="btn btn-primary" name="calculate" ng-click="calculate()">Calculate</button>
			</div>
		</div>
	</form>
	<div class="row panel panel-body" ng-show="loaded">
		<div>
			<div class="col-xs-4 col-xs-offset-4 text-center">
				<select class="form-control text-capitalize" name="comparison" ng-model="compared" ng-change="onSelected()" ng-options="item.value as item.key for item in comparisons"></select>
			</div>
		</div>
		<div class="col-lg-12">
			<div class="col-lg-4" ng-repeat="item in breakdown">
				<div class="col-xs-6 text-right"><i class="fa fa-lg" ng-class="item.icon"></i></div>
				<div class="col-xs-6 text-left">{{Math.round(item.value * 100000)/100000}}</div>
			</div>
		</div>
		<div class="col-lg-4 col-lg-offset-4">
			<canvas id="doughnutChart"
					class="chart chart-doughnut"
					chart-data="chartData"
					chart-series="chartSeries"
					chart-legend="true"
					chart-labels="chartLabels"></canvas>
		</div>
	</div>
</div>